
img {
  width: auto;   
  height: 100px; 
}

 
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) 
            background-color: #fafafa



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}   

a {
    text-decoration: none;
    color: #fff;
    background-color: #d62828; 
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}

a:hover {
    background-color: #a61c1c;
}


img {
    max-width:50%;
    height: auto;
    display: block;
    margin: 10px auto;
}


h1, h2, h3 {
    text-align: center;
    color: #d62828;
    margin-top: 20px;
}


p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
    font-size: 18px;
}


ul {
    max-width: 800px;
    margin: 15px auto;
    padding-left: 20px;
    font-size: 18px;
}

li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 20px;
}



hr {
    border: none;
    height: 2px;
    background-color: #d62828;
    margin: 20px 0;
}

table {
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}